.sobre{
    height: 945px;
    background-color: #f2e6c7;
    overflow-y: auto;
    padding-left: 3%;
/*     background-image: linear-gradient(to bottom, white, #f2e6c7 );
 */}

.descricao{
    margin-top: 280px;
}

.sobre h2{
    font-size: 70px;
    color: #2d454c;
}

.titulo{
    opacity: 0.7;
    font-weight: bold;
    font-size: 18px;
}

.corpo{
    opacity: 0.6;
    font-weight: bold;
    font-size: 22px;
}



.icons-pos{
    margin-top: 100px;
    margin-left: 20px;
}

.icons-pos span a{
    margin-left: 15px;
    overflow: hidden;
    color: inherit;
}
