.content{
    position: absolute;
    left: 20%;
    width:80%;
    height: 100%;
    background-color: #f2e6c7;
    overflow-y: auto;
    padding-left: 3%;

}

.descricao{
    margin-top: 280px;
}

.content h2{
    font-size: 70px;
    color: #2d454c;
}

.titulo{
    opacity: 0.7;
    font-weight: bold;
    font-size: 18px;
}

.corpo{
    opacity: 0.6;
    font-weight: bold;
    font-size: 22px;
}

.icons{
    
    
}

.icons-pos{
    margin-top: 20px;
    margin-left: 20px;
}

.icons-pos span a{
    margin-left: 15px;
    overflow: hidden;
    color: inherit;
}
